.div-linear-gradient {
    height: 100%;
    width: 100%;
    background: #76F0EC;
    font-size: 15px;
}

td{
    font-size: 15px;
}
th{
    font-size: 18px;
}

.navbar-brand {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color:white;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 60px;
}


.ul-li-navbar {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color:yellow;
    margin-top: 5%;
    font-size: 20px;
}

.navbar-nav > li {
    padding-left:40px;
    padding-right:40px;
}

.ul-container-div {
    margin-left: 240px;
}

.navbar-div {
    height: 80px;
}

.div-main-container {
    margin:10px;
}

.div-slider-container {
    position:absolute;
    height: 40%;
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    z-index: 2;
}

.div-form-container {
    margin:50px;
    width: 670px;
    height: 670px;
    background-color: white;
}

.div-sing-up-label {
    margin:20px;
    padding-left: 160px;
    padding-top: 80px;
}

.span-sing-up-style {
    font-size: 44px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: black;
}

.div-exact-form-container {
    padding-top: 50px;
    padding-left: 90px;
    padding-right: 0px;
    width: 570px;
    height: 570px;
    /*background-color: red;*/
}

.div-auth-reg-buttons-container {
    position:absolute;
    height: 600px;
    width: 550px;
    margin-top: 150px;
    margin-left: 350px;
    background-color: #da68a0;
    z-index: 1;
}

.carousel-main-container {
    height: 100% !important;
    width: 100% !important;
    margin: 30px !important;
}

.div-introduction-header-container {
    margin: 20px;
    height:150px;
    width:600px;
}

.div-introduction-header {
    width: 400px;
    height: 150px;
    text-align: left;
    font-size: 30px;
    font-family: Bedas;
    font-weight: 400;
    color: white;
    margin-left: 200px;
    margin-top:0px;
    font-weight: bold;
}

.div-site-description-text-container {
    width: 400px;
    height: 300px;
    margin-left: 30px;
    margin-top: 100px;
}

.div-site-description-text-left {
    width: 400px;
    height: 180px;
    text-align: left;
    font-size: 17px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 50px;
}

.div-site-description-text-right {
    width: 400px;
    height: 200px;
    text-align: right;
    font-size: 17px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 130px;
}

.div-outer-dark-container {
    margin-left:200px;
    margin-top:120px;
    background-color:white;/*282c2c*/
    height:700px;
    width:1500px;
}

.div-pagination-container {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    margin-left: 1000px;
}

.pagination > li > a
{
    background-color: wheat;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.div-event-container {
    background-color: transparent;/*!!*/
    width: 1370px;
    margin-right: 200px !important;
    margin-left: 60px;
    margin-bottom: 60px;
    height: 1350px;
    z-index: 3;
    padding-left: 70px;
}

.div-event-unit {
    margin-top: 50px;
    background-color: transparent;
    width: 1300px;
    height:300px;
}

.span-event-title {
    color:white;
    width: 1250px;
    text-align: right;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 35px;
    /*font-weight: bald;*/
    z-index:4;
}

.span-event-description {
    color: #dedede;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 20px;
    z-index:4;
}

.div-img-container {
    padding-right: 30px;
    padding-top: 160px;
    background-position:center center;
    background-size:cover;
    width:1250px;
    height:300px;
    border-radius: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.div-img-container img {
    border-radius: 20px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:1250px;
    height:300px;
    object-fit:cover;
    z-index: 0;
}

.btn-outline-light {
    font-size: 16px;
    font-weight: bold;
}

.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active {
    background-color: white;
    color: black;
    border-color: white;
}

.btn-outline-danger {
    font-size: 16px;
    font-weight: bold;
}

.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger:active {
    background-color: tomato;
    color: white;
    border-color: tomato;
}